In [1]:
%reload_kedro

2023-03-27 18:29:14,007 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: /Users/guilhermepalazzo/Desktop/dev/git_repositories/crypto_msc_thesis
2023-03-27 18:29:14,952 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-03-27 18:29:15,131 - kedro.extras.extensions.ipython - INFO - ** Kedro project crypto_thesis
2023-03-27 18:29:15,133 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`

In [2]:
import numpy as np

In [3]:
df_spine = catalog.load("spine_labeled")
df_mt_multic = catalog.load("master_table_multic")
df_window_nbr = catalog.load("window_nbr_lookup_multic")

2023-03-27 18:29:15,814 - kedro.io.data_catalog - INFO - Loading data from `spine_labeled` (ParquetDataSet)...
2023-03-27 18:29:15,918 - kedro.io.data_catalog - INFO - Loading data from `master_table_multic` (ParquetDataSet)...
2023-03-27 18:29:15,930 - kedro.io.data_catalog - INFO - Loading data from `window_nbr_lookup_multic` (ParquetDataSet)...

In [4]:
df_mt = df_mt_multic[["window_nbr"]] \
                    .merge(df_window_nbr, on="window_nbr", how="inner")
assert df_mt.shape[0] == df_mt_multic.shape[0]

In [5]:
df_mt.head(2)

   window_nbr           open_time          close_time         target_time
0           1 2019-11-28 08:30:00 2019-11-29 05:45:00 2019-11-29 21:45:00
1           2 2019-11-29 06:00:00 2019-11-29 21:45:00 2019-12-01 00:15:00

In [6]:
df = df_mt.merge(df_spine[["open_time", "close_time", "target_time", "logret_cumsum"]],
                on=["open_time", "close_time", "target_time"],
                how="inner")
assert df.shape[0] == df_mt.shape[0]

In [7]:
df.head()

,window_nbr,open_time,close_time,target_time,logret_cumsum
0,1,2019-11-28 08:30:00,2019-11-29 05:45:00,2019-11-29 21:45:00,-0.001806
1,2,2019-11-29 06:00:00,2019-11-29 21:45:00,2019-12-01 00:15:00,0.030120
2,3,2019-12-01 00:30:00,2019-12-01 17:45:00,2019-12-02 17:30:00,-0.022385
3,4,2019-12-01 18:00:00,2019-12-02 17:30:00,2019-12-04 01:45:00,-0.003861
4,5,2019-12-02 17:45:00,2019-12-04 01:45:00,2019-12-04 15:30:00,-0.019142

In [8]:
df.close_time.min(), df.close_time.max()

(Timestamp('2019-11-29 05:45:00'), Timestamp('2023-01-30 11:45:00'))

In [9]:
df.logret_cumsum.min(), df.logret_cumsum.max()

(-0.21044262090973978, 0.1465046328656274)

In [10]:
df.loc[:, "pctchg_cumsum"] = np.exp(df["logret_cumsum"]) - 1
df.pctchg_cumsum.min(), df.pctchg_cumsum.max()

(-0.1897744561757937, 0.1577802946465625)